{% extends 'node_info/base.html'  %}
{% block title_content %}标准计算节点资源描述{% endblock %}
{% block body_content %}
    <script type="text/javascript">
        {#setInterval(function(){location.reload() },1000); //指定1秒刷新一次#}
        {#console.log({{ sys }});#}
{#        {% for val, item in sys.items %}#}
            {#console.log({{ val }});#}
{##}
{#        {% endfor %}#}

        setInterval(setDataFn,1000); //指定1秒刷新一次
        function setDataFn(){
            $.ajax({
                method: "POST",
                url: "/sysFile1/",
                data: {},
                success: function(data) {

                    //console.log(data) // check out how data is structured
                    let sys = data.sys['系统信息'];
                    // console.log(sys);
                    let htmls = '';
                    // let k = sys[0]
                    // if (k == '节点'){
                    //     console.log(k);
                    // }
                    for(let k in sys){
                        htmls += ' <div class="card" text-center">' +
                            '<div class="card-header">MQTTClient</div>' +
                            '<div class="card-body">' +
                            '<h5 class="card-title" text-center>' + k + '</h5>' +
                            '<ul class="nav justify-content-center">'

                        let jd = sys['节点'];
                        if (k != '节点'){
                            jd = sys[k]['节点'];
                        }
                        for(let kc in jd){
                            htmls += ''
                            if(kc == '算力配置'){
                                let rq = jd[kc];
                                htmls += '<div class="container">' + '<div class="row">'
                                for(let kc1 in rq){
                                    let tmp = kc1
                                    if (kc1 == '计算单元集合'){
                                        // let clq = rq[kc1];
                                        // console.log(kc1);
                                        // console.log(clq);
                                        // clq.setAttribute("tagName", "处理器");
                                        // kc1 = '处理器'
                                        tmp = '计算单元集合'
                                    }
                                    else if (kc1 == '存储1' || kc1 == '存储2' || kc1 == '存储3'){
                                        tmp = '存储'
                                    }
                                    else if (kc1 == '网络1' || kc1 == '网络2' || kc1 == '网络3'){
                                        tmp = '网络'
                                    }
                                    {#htmls += '<span class="badge badge-primary">' + kc1 + '</span>'#}
                                    htmls += '<div class="col-4">' + '<span class="badge badge-primary">' + tmp + '</span>'
                                        let rqChild = rq[kc1];
                                        for(let reqc in rqChild){
                                            if(reqc == '最小最大吞吐率'){
                                                htmls += '<li class="list-group-item">' + reqc + ':' +
                                                    '<br>' + '上行:' + rqChild[reqc]['上行'] +
                                                    '<br>' + '下行:' + rqChild[reqc]['下行'] + '</li>'
                                                {#htmls += '<table class="table">' +#}
                                                {#    '<tbody>' +#}
                                                {#    '<tr>' +#}
                                                {#    '<th scope="row">上行</th><td>' + rqChild[reqc]['上行'] + '</td></tr><tr>' +#}
                                                {#    '<th scope="row">下行</th><td>' + rqChild[reqc]['下行'] + '</td>' +#}
                                                {#    '</tr></tbody></table>' + '</li>';#}
                                            }else{
                                                htmls += '<li class="list-group-item">' + reqc + ':' + rqChild[reqc] + '</li>';
                                            }
                                        }
                                    htmls += '</div>'
                                }
                                htmls += '</div></div>'
                            }else if(kc == '算力'){
                                let sl = jd[kc];
                                htmls += '<div class="container">' + '<div class="row">'
                                for(let kc2 in sl){
                                    htmls += '<div class="col-4">' + '<span class="badge badge-primary">' + kc + '</span>' +
                                    '<li class="list-group-item">' + kc2 + ':' + sl[kc2]['算力值'] + '</li>' + '</div>'
                                }
                                htmls += '</div></div>'
                            }else if(kc=='系统算力值'){
                                let sw=jd[kc];
                                htmls += '<div class="col-4">' + '<span class="badge badge-primary">' + kc + '</span>'+'<li class="list-group-item">' + sw + '</li>' + '</div>'
                            }else{
                                htmls += '<li class="nav-item">' + '<a class="nav-link active" href="#">' + kc + ':' + jd[kc] + '</a>' + '</li>'
                            }

                        }
                        htmls += '</ul></div></div>'
                    }


                    $('#sys').html(htmls);
                    // Update the coin amount
                    {#$('.status').contents()[0].textContent = 'Balance&nbsp'+data.coins#}
                }
            })
        }

    </script>
    <div id="data">
        {% for item in attack_method %}

        {% endfor %}
    </div>
    <div id="sys" class="row">

    </div>
{% endblock %}